 @FormParam({{^vendorExtensions.x-explode}}explode = false{{#vendorExtensions.x-allow-reserved}}, {{/vendorExtensions.x-allow-reserved}}{{^vendorExtensions.x-allow-reserved}}{{#vendorExtensions.x-style}}, {{/vendorExtensions.x-style}}{{/vendorExtensions.x-allow-reserved}}{{/vendorExtensions.x-explode}}{{#vendorExtensions.x-allow-reserved}}allowReserved = true{{#vendorExtensions.x-style}}, {{/vendorExtensions.x-style}}{{/vendorExtensions.x-allow-reserved}}{{#vendorExtensions.x-style}}style = {{{vendorExtensions.x-style}}}{{/vendorExtensions.x-style}})