        @MultiPartBody(name = "{{baseName}}"{{^required}}, isRequired = false{{/required}}{{#vendorExtensions.x-multipart-content-transfer-encoding}}, contentTransferEncoding = {{{vendorExtensions.x-multipart-content-transfer-encoding}}}{{/vendorExtensions.x-multipart-content-transfer-encoding}}){{#vendorExtensions.x-multipart-define-file-name}} @DefineFileName{{/vendorExtensions.x-multipart-define-file-name}}{{#vendorExtensions.x-multipart-content-type}} @DefineContentType(contentType = "{{{vendorExtensions.x-multipart-content-type}}}"){{/vendorExtensions.x-multipart-content-type}}