{{#isFormParam}}{{^vendorExtensions.x-is-multipart}}{{>formParamUrlEncoded}}{{/vendorExtensions.x-is-multipart}}{{#vendorExtensions.x-is-multipart}}{{>formParamMultipart}}{{/vendorExtensions.x-is-multipart}}{{#vendorExtensions.x-body_param_format}} @BodyParamFormat(format = {{{vendorExtensions.x-body_param_format}}}){{/vendorExtensions.x-body_param_format}}  {{{dataType}}} {{paramName}}{{#hasMore}},{{/hasMore}}{{/isFormParam}}
