{{#isHeaderParam}}        @HeaderParameter(headerName = "{{baseName}}"{{#required}}, required = true{{/required}}{{#vendorExtensions.x-explode}}, explode = true{{/vendorExtensions.x-explode}}) {{{dataType}}} {{{paramName}}}{{#hasMore}},{{/hasMore}}{{/isHeaderParam}}